---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import LogoAnimation from '../components/LogoAnimation.astro';
import './src/styles/global.css';

const props = {
  title: 'Home / Desktop'
};
---
<Layout {...props}>
  <section class="flex flex-col items-center justify-center min-h-screen text-center">
    <div>
      <LogoAnimation />
    </div>
    <div class="text-[#D6BA00]">
      <h1>Legal Builder</h1>
      <p>Descripcion general de la aplicacion en pocas palabras</p>
    </div>
  </section>
</Layout>


